
	// Sass Responsive
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$tab_device_below:'only screen and (min-width: 320px) and (max-width: 991px)';
$small_mobile:'(max-width: 767px)';
$large_mobile: 'only screen and (min-width: 480px) and (max-width: 767px)';
$mobile320To480px: 'only screen and (min-width: 320px) and (max-width: 480px)';

	// Font color
$text		: #606060;
$text_2		: #AFAFAF;
$heading	: #0D0D0D;

	//Branding
$brand		: #FB9E14;	

